# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# VIM
*.swp

# PACKAGING
build/*

# cloud9
.log
.c9revisions
/etc
/home
/sbin
/tmp
/usr

# clique
/data/_socket_in
/data/_socket_out
/data/.context

